#####################################################################################################################
# 1. Configure VPC and Subnets - you can load cfn template networking.yml.
# 2. Create and validate your SSL certificate (ACM), copy Arn.
# 3. create envoirment and deploy:
# eb create --vpc.id vpc-id1 --vpc.dbsubnets subnet-id1,subnet-id2 --vpc.ec2subnets subnet-id1,subnet-id2  --vpc.elbsubnets subnet-id1,subnet-id2 --vpc.elbpublic --keyname keyname
# eb create --vpc.id vpc-0c2bfdfb8d737cf56 --vpc.dbsubnets subnet-0b923c68c52172c9b,subnet-0eb2c46be9e246b6e --vpc.ec2subnets subnet-0b923c68c52172c9b,subnet-0eb2c46be9e246b6e  --vpc.elbsubnets subnet-07132d633fcc251d0,subnet-0b47460ec794c3fa7 --keyname macbook --vpc.elbpublic
# eb create --vpc.id vpc-0c2bfdfb8d737cf56 --vpc.dbsubnets subnet-0b923c68c52172c9b,subnet-0eb2c46be9e246b6e --vpc.ec2subnets subnet-07132d633fcc251d0,subnet-0b47460ec794c3fa7  --vpc.elbsubnets subnet-07132d633fcc251d0,subnet-0b47460ec794c3fa7 --keyname macbook --vpc.elbpublic
# php install/cli_install.php install --db_hostname aa1avevf5cgsf6x.cmryqczsq91w.us-east-1.rds.amazonaws.com --db_username root --db_password K0k0\$1m123123321 --db_database opencart --db_driver mysqli --db_port 3306 --username admin --password admin --email awskamen@amazon.com --http_server http://opencart2.us-east-1.elasticbeanstalk.com

#####################################################################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV_NAME: 'prod'
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    HTTP_HOST: 'opencart.kamen.sa-demos.net'
    RDS_HOST: opencart.cluster-cmryqczsq91w.us-east-1.rds.amazonaws.com 
    RDS_PORT: 3306
    RDS_USERNAME: root
    RDS_PASSWORD: K0k01m123123321
    RDS_DBNAME: opencart

  aws:elasticbeanstalk:customoption:
    SSLCertificateArns: 'arn:aws:acm:us-east-1:076076568315:certificate/444cfc29-fd16-45d2-9c34-b696d3319e00' # ARN can be foun in AWS Console:  AWS Certificate Manager
    
    MyIP: "0.0.0.0/0"
    VpcId: "vpc-0c2bfdfb8d737cf56"
    PubSubnetA: "subnet-07132d633fcc251d0"
    PubSubnetB: "subnet-0b47460ec794c3fa7"
    PrivSubnetA: "subnet-0b923c68c52172c9b"
    PrivSubnetB: "subnet-0eb2c46be9e246b6e"
    DBSubnets: 
      - subnet-0b923c68c52172c9b
      - subnet-0eb2c46be9e246b6e

    RDSUsername: root
    RDSPassword: K0k0$1m123123321
    RDSDBName: opencart
    RDSMultiAZ: true
    RDSStorage: 10 # in gigabytes
    RDSInstanceType: db.t2.micro
    RDSDeletionPolicy: Delete # or retain
    RDSBackupRetentionPeriod: 0 # Change this to retain backups!


##############################################
#### Do not modify values below this line ####
##############################################
  ## Prevent Beanstalk from adding SSH ingress to instance SG
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, 127.0.0.1/32
  ## Run only one instance during install
  aws:autoscaling:asg:
    MaxSize: 1
  ## Faster deployments during dev work
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: "false"
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce # Or Rolling, Immutable,  
    IgnoreHealthCheck: "true"
  aws:elasticbeanstalk:monitoring:
    Automatically Terminate Unhealthy Instances: "false"

Resources:
  ## Extend instance security group with SSH rule
  sshfromhome: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 22
      FromPort: 22
      CidrIp: 
        Fn::GetOptionSetting: {OptionName: MyIP}

commands:
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local        
packages:
    yum:
        jq: []