container_commands:
  01_source_env:
    command: "source /etc/profile.d/sh.local"
    leader_only: true  

  02_cinstall:
    command: "php install/cli_install.php install --db_hostname $RDS_HOST --db_username $RDS_USERNAME  --db_password $RDS_PASSWORD --db_database $RDS_DBNAME --db_driver mysqli --db_port $RDS_PORT --username admin --password admin --email k@sharleys.co.uk --http_server https://$HTTP_HOST/ --dir_catalog /var/app/current/ --dir_image /mnt/efs/ --dir_storage /mnt/efs/"    

  03_cleanup:
    command: "rm -rf install && rm -f config-dist.php && rm -f /admin/config-dist.php && rm -f /etc/profile.d/sh.local"
  # 03_database_migrations:
  #   # command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput && python3 manage.py migrate --noinput && python3 manage.py collectstatic --noinput && deactivate"
  #   command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput && python3 manage.py migrate --noinput && deactivate"
  #   leader_only: true

  # 04_log_file_ownership:
  #   command: "chown webapp:webapp -R log/*"
  #   leader_only: true    



